.tabs-container {
    display: flex;
    background-color: #585D92;
    height: 20px;
    align-content: center;
}

.tab {
    padding: 3px 15px;
    cursor: pointer;
    margin-right: 5px;
    font-size: 10px;
    color: gray;
    background-color: #E4E5F1;
    align-self: flex-end;
    margin-top: 10px;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; 
}

.tab.active {
    background-color: white;
    color: black;
}

.tab:first-child {
    margin-left: 10px;
}

.task-tab-container {
    margin-top: 20px;
    background-color: white;
}