
.my-incoming-message {
    .cs-message__content-wrapper {
        .cs-message__content {
            background-color: #585D92;
            .cs-message__html-content {
                color: #FFFFFF;
            }
        }
    }
}

.my-outgoing-message {
    .cs-message__content-wrapper {
        .cs-message__content {
            background-color: #E4E5F1;
        }
    }
}

.cs-message-input__content-editor-wrapper {
    background-color: #E4E5F1;
    .cs-message-input__content-editor-container {
        .cs-message-input__content-editor {
            background-color: #E4E5F1;
            color: #212121BF;
        }
        .cs-message-input__content-editor::before {
            color: #212121BF;
        }
    }
}

.cs-button--send {
    color: #585D92;
}