.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.MuiPaper-root {
  background-color: transparent !important;
  border-radius: 10px !important;
}

.blocklyToolboxDiv {
  padding-left: 2px;
}

.disabledDropShadowButton {
  background-color: #ebebe4 !important;
  filter: none !important;
}

.tab {
  padding: 3px 15px;
  cursor: pointer;
  margin-right: 5px;
  font-size: 14px;
  color: gray;
  background-color: #E4E5F1;
  align-self: flex-end;
  margin-top: 10px;
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; 
}

.tab.active {
  background-color: white;
  color: black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
